{% extends 'diary/base.html' %}
{% block title %}Редактировать дневник{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-warning text-dark p-4 rounded-3 shadow-lg">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 fw-normal">Редактирование дневника</h1>
                </div>
                <form method="post" enctype="multipart/form-data" class="needs-validation">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.as_p }}
                    <button class="w-100 btn btn-dark text-white save-btn-hover" type="submit">
                        Сохранить изменения
                    </button>
                </form>
                <div class="mt-3 text-center">
                    <a href="{% url 'diary:diary_detail' object.pk %}" class="btn btn-outline-dark">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}