{% extends 'diary/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-warning text-dark p-4 rounded-3 shadow-lg">
                <div class="text-center mb-4">
                    <h1 class="h3 mb-3 fw-normal">Ссылка недействительна</h1>
                </div>
                <p class="text-center">Попробуйте зарегистрироваться заново.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}